
.advantages__heading {
  font-size: 18px;
}

.advantages__name {
  font-size: 18px;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  color: @white;
  background-color: @sky-blue;
}

.advantages__item--secondary {
  color: @black;
  background-color: @ordinary-grey;
}

.advantages__number::before {
  counter-increment: hyphen;
  content: "\2013 \2004 №" counter(hyphen) "\2004 \2013";
}

.additional-list {
  list-style: none;

  &__item {
    text-align: left;
  }
}

