
.advantages__item--secondary {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__name--secondary {
  padding-top: 27px;
}

.advantages__description--secondary {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid @color-dark-grey-border;
}

.advantages__item--secondary:last-child .advantages__description--secondary {
  border-bottom: none;
}

@media (min-width: @tablet-width) {
  .wrapper__advantages-grey {
    display: flex;
    flex-direction: row;
  }

  .advantages__item--secondary {
    padding-top: 43px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages__name--secondary-break {
    display: block;
  }

  .advantages__name--secondary {
    padding: 0;
    padding-bottom: 10px;
  }

  .advantages__description--secondary {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 42px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description--secondary {
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 63px;
  }
}
