@import (reference) url("./source/less/global/variables.less");

.button {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: @heading-small;
  color: @white;
  background-color: @sky-blue;
}
