
.failure {
  display: block;
  background-color: @color-white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  min-height: 280px;
  z-index: -10;
}

.failure__heading {
  font-size: @fs-heading-small;
  padding-top: 25px;
}

.failure__message {
  line-height: @lh-medium;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.failure__close {
  display: block;
  width: 56.25%;
  min-height: 58px;
  margin: 0 auto;
  font-size: @fs-heading-small;
  line-height: @lh-main;
}

@media (min-width: @tablet-width) {
  .failure {
    min-width: 400px;
    min-height: 347px;
  }

  .failure__heading {
    font-size: @fs-heading-big;
    line-height: @lh-additional;
  }

  .failure__message {
    padding-top: 0;
    padding-bottom: 23px;
  }

  .failure-heading__break {
    display: block;
  }

  .failure__close {
    width: 68%;
    font-size: @fs-heading-medium;
  }
}
