
.main--form {
  background-color: @color-white;
}

.main__intro--small {
  background-color: @color-white;
}

.feedback__heading {
  font-size: @fs-heading-small;
  margin-top: 37px;
  margin-bottom: 27px;
}

.feedback__text {
  line-height: @lh-medium;
  padding-bottom: 3px;
}

.feedback__button-send {
  margin: 0 auto;
  display: block;
  font-size: @fs-heading-medium;
  line-height: @lh-main;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 14px;
  border: none;
  width: 100%;
}

.form-wrapper {
  padding-top: 44px;
  padding-bottom: 35px;
}

.required {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback__heading {
    padding-top: 27px;
  }

  .feedback__text {
    border-bottom: none;
    margin: 0;
    padding-bottom: 88px;
  }

  .feedback-description__break {
    display: block;
  }

  .feedback__button-send {
    padding-top: 18px;
    padding-bottom: 12px;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0;
  }

  .form-wrapper {
    padding-left: @padding-tablet;
    padding-top: 48px;
    padding-bottom: 62px;
  }

  .required {
    display: block;
    padding-top: 54px;
    padding-right: @padding-tablet;
    text-align: right;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .feedback__heading {
    padding-top: 77px;
  }

  .feedback__text {
    padding-bottom: 60px;
  }

  .feedback-description__break {
    display: block;
  }

  .form-wrapper {
    padding-left: @padding-desktop;
    padding-bottom: 67px;
    padding-top: 49px;
  }

  .required {
    padding-right: @padding-desktop;
  }
}
