@import (reference) url("./source/less/global/variables.less");

.feedback-heading {
  font-size: @heading-small;
}

.feedback__group {
  border: none;
}

.form-heading {
  font-size: @heading-small;
  font-weight: bold;
}

.acquaintance-forms__name-input::placeholder {
  font-size: @heading-small;
  font-weight: bold;
  color: @black;
}

.acquaintance-forms__name-input {
  background-color: @elements-grey;
  border: none;
}

.acquaintance-forms__surname-input::placeholder {
  font-size: @heading-small;
  font-weight: bold;
  color: @black;
}

.acquaintance-forms__surname-input {
  background-color: @elements-grey;
  border: none;
}

.acquaintance-forms__second-name-input::placeholder {
  font-size: @heading-small;
  font-weight: bold;
  color: @black;
}

.acquaintance-forms__second-name-input {
  background-color: @elements-grey;
  border: none;
}

.contacts-forms__phone-input::placeholder {
  font-size: @heading-small;
  font-weight: bold;
  color: @black;
}

.contacts-forms__phone-input {
  background-color: @elements-grey;
  border: none;
}

.contacts-forms__email-input::placeholder {
  font-size: @heading-small;
  font-weight: bold;
  color: @black;
}

.emotions-forms__text::placeholder {
  font-family: @main-font;
  font-size: @heading-small;
  font-weight: bold;
  color: @black;
}

.emotions-forms__text {
  background-color: @elements-grey;
  border: none;
  resize: none;
}

.contacts-forms__email-input {
  background-color: @elements-grey;
  border: none;
}

.impressions-forms__item {
  font-size: @heading-small;
  font-weight: bold;
  text-transform: none;
}

.sights-forms__item {
  font-size: @heading-small;
  font-weight: bold;
  text-transform: none;
}

.feedback__button-send {
  font-size: @heading-medium;
  text-transform: uppercase;
  border: none;
}
