
.group-input__heading {
  font-size: @fs-heading-small;
  font-weight: bold;
}

.form__group {
  border: none;
}

.group-input__name {
  font-size: @fs-main;
}

.group-input__input {
  background-color: @color-elements-grey;
  border: none;

  &:hover {
    background-color: @color-light-grey;
  }

  &:focus {
    background-color: @color-white;
    border: 4px solid @color-light-grey;
  }

  &:active {
    background-color: @color-white;
    border: 4px solid @color-light-grey;
  }
}

.group-input__text {
  background-color: @color-elements-grey;
  border: none;
  resize: none;
}
