
input:required {
  box-shadow: 4px 4px @color-form-important;
}

.group-input__name {
  font-size: @fs-main;
  text-align: left;
  margin-right: 14px;
}

.group-input__name--contacts {
  display: block;
  text-align: left;
  padding-left: 22px;
  padding-bottom: 8px;
  padding-top: 12px;
}

.group-input__input {
  background-color: @color-bg-form-grey;
  border: none;
  padding-top: 25px;
  padding-bottom: 18px;
  padding-left: 22px;
  width: 100%;
  height: 58px;
  position: relative;
  font-family: @main-font;
  font-weight: bold;
  font-size: @fs-heading-small;

  &:hover {
    background-color: @color-disabled-grey;
  }

  &:focus {
    background-color: @color-white;
    border: 4px solid @color-disabled-grey;
  }

  &:active {
    background-color: @color-white;
    border: 4px solid @color-disabled-grey;
  }
}

.group-input__input:active::placeholder {
  color: @color-transparent;
}

.group-input__input:focus::placeholder {
  color: @color-transparent;
}

.group-input__input--size{
  width: 175px;
}

.group-input--text {
  margin-top: 8px;
}

.group-input__textarea {
  width: 100%;
  min-height: 160px;
  padding-left: 21px;
  padding-top: 18px;
  background-color: @color-bg-form-grey;
  border: none;
  resize: none;
  margin-top: 12px;
  font-family: @main-font;
  font-weight: bold;
  font-size: @fs-heading-small;

  &:active {
    background-color: rgba(242, 242, 242, 0.6);
  }

  &:focus {
    background-color: rgba(242, 242, 242, 0.6);
  }
}

.group-input__textarea::placeholder {
  line-height: 25px;
}

.group-input__textarea:active::placeholder {
  color: @color-transparent;
}

.group-input__textarea:focus::placeholder {
  color: @color-transparent;
}

.group-input__heading {
  font-size: @fs-heading-small;
  font-weight: bold;
}

.group-input__heading--user {
  padding-top: 22px;
  padding-bottom: 4px;
  margin: 0 auto;
}

.group-input__user {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    border-bottom: 1px solid @color-disabled-grey;
    width: @mobile-width;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -20px;
    border-bottom: 1px solid @color-disabled-grey;
    width: @mobile-width;
  }
}

@-moz-document url-prefix() {
  .group-input__user::before {
    top: -50px;
  }
}

.group-input__contacts {
  position: relative;
  margin-top: 20px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -28px;
    left: -20px;
    border-bottom: 1px solid @color-disabled-grey;
    width: @mobile-width;
  }
}

.group-input__heading--contacts {
  margin-bottom: 5px;
}

.group-input__wrapper--phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: @color-bg-icons-grey;
    z-index: 2;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    right: 19px;
    background-image: url("../img/icon-phone.svg");
    width: 18px;
    height: 18px;
    z-index: 3;
  }
}

.group-input__wrapper--email {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: @color-bg-icons-grey;
    z-index: 2;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 23px;
    right: 21px;
    background-image: url("../img/icon-mail.svg");
    width: 16px;
    height: 12px;
    z-index: 3;
  }
}

.group-input__wrapper--user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 13px;
  margin-bottom: 20px;
}

.group-input__user .group-input__wrapper--user:last-child {
  margin-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .group-input__user {
    grid-area: user;
    padding-right: 40px;
    padding-left: 60px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .group-input__contacts {
    grid-area: contacts;
    padding-left: @padding-tablet;
    padding-right: @padding-tablet;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 26px;
    padding-bottom: 35px;

    &::after {
      display: none;
    }
  }

  .group-input__heading {
    font-size: @fs-heading-medium;
    font-weight: bold;
  }

  .group-input__heading--user {
    padding: 0;
    padding-bottom: 40px;
    text-align: left;
    position: relative;
    margin: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -60px;
      background-color: @color-dark-grey-border;
      width: 1px;
      height: 292px;
    }
  }

    .group-input__heading--contacts {
      padding-top: 10px;
      padding-bottom: 20px;
      margin: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 19px;
      margin-top: 30px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 18px;
        left: 0;
        background-color: @color-dark-grey-border;
        width: 123px;
        height: 1px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 18px;
        right: 0;
        background-color: @color-dark-grey-border;
        width: 123px;
        height: 1px;
      }
    }

    .group-input__name {
      margin-right: 14px;
    }

    .group-input__name--contacts {
      padding: 0;
      padding-left: 20px;
      margin-bottom: 8px;
    }

    .group-input__heading--text {
      position: relative;
      padding-bottom: 45px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: -195px;
        background-color: @color-dark-grey-border;
        width: 123px;
        height: 1px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        right: -195px;
        background-color: @color-dark-grey-border;
        width: 123px;
        height: 1px;
      }
    }

    .group-input__textarea {
      margin-top: 52px;
    }

    .group-input--text {
      grid-area: text;
      padding-left: @padding-tablet;
      padding-right: @padding-tablet;
    }

    .group-input__wrapper--user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 13px;
      margin-bottom: 20px;
    }

    .group-input__wrapper--phone {
      margin-bottom: 25px;
    }

    .group-input__input--size {
      width: 175px;
    }
  }

  @media (min-width: @desktop-width) {
    .group-input__user {
      padding-right: @padding-desktop;
      padding-left: 80px;
    }

    .group-input__heading--user {
      position: relative;
      margin: 0;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -80px;
        background-color: @color-dark-grey-border;
        width: 1px;
        height: 292px;
      }
    }

    .group-input__wrapper--user {
      justify-content: space-between;
    }

    .group-input__input--size {
      width: 312px;
    }

    .group-input__contacts {
      padding-left: @padding-desktop;
      padding-right: @padding-desktop;
      padding-bottom: 29px;
    }

    .group-input__heading--contacts {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 18px;
        left: 0;
        background-color: @color-dark-grey-border;
        width: 280px;
        height: 1px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 18px;
        right: 0;
        background-color: @color-dark-grey-border;
        width: 280px;
        height: 1px;
      }
    }

    .group-input__name--contacts {
      padding-left: 0;
    }

    .group-input__wrapper--phone {
      width: 33%;
      margin-right: 80px;
    }

    .group-input__wrapper--email {
      width: 33%;
    }

    .group-input__wrapper--contacts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 30px;
      width: 100%;
    }

    .group-input--text {
      padding-left: @padding-desktop;
      padding-right: @padding-desktop;
    }

    .group-input__heading--text {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: -353px;
        background-color: @color-dark-grey-border;
        width: 280px;
        height: 1px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        right: -353px;
        background-color: @color-dark-grey-border;
        width: 280px;
        height: 1px;
      }
    }
  }
