
.group-check {
  position: relative;
  margin-top: 14px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 15px;
    left: -20px;
    border-bottom: 1px solid @color-disabled-grey;
    width: @mobile-width;
  }
}

.group-check__heading {
  font-size: @fs-heading-small;
  font-weight: bold;
  margin-bottom: 35px;
}


@media (min-width: @tablet-width) {
  .group-check {
    grid-area: check;
    padding-bottom: 18px;

    &::after {
      display: none;
    }
  }

  .group-check__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 10px;

    padding-left: 144px;
    padding-right: 63px;
  }

  .group-check__heading {
    font-size: @fs-heading-medium;
    font-weight: bold;
    position: relative;
    padding-bottom: 27px;
    margin: 0 auto;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 26px;
      left: -185px;
      background-color: @color-dark-grey-border;
      width: 123px;
      height: 1px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 26px;
      right: -185px;
      background-color: @color-dark-grey-border;
      width: 123px;
      height: 1px;
    }
  }
}

@media (min-width: @desktop-width) {
  .group-check__heading {
    position: relative;
    margin-bottom: 35px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 25px;
      left: -341px;
      background-color: @color-dark-grey-border;
      width: 280px;
      height: 1px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 25px;
      right: -341px;
      background-color: @color-dark-grey-border;
      width: 280px;
      height: 1px;
    }
  }

  .group-check__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 110px;
    padding-right: @padding-desktop;
  }

  .group-check {
    margin-top: 0;
  }
}
