
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo-toggle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
}

.header__main-nav {
  order: -1;
}

.header__logo {
  position: absolute;
  height: 84px;
  background-color: @color-transparent;
  order: 0;
  margin-right: 66px;

  @media (min-width: @tablet-width) {
    height: 84px;
    background-color: @color-transparent;
    margin-left: 42px;
  }

  @media (min-width: @desktop-width) {
    height: 97px;
    background-color: @color-transparent;
    right: 460px;
    left: 430px;
  }
}

@media (min-width: @desktop-width) {
  .logo {
    width: 187px;
    height: 97px;
  }
}


