@import url("./source/less/global/variables.less");

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  color: @white;
  text-decoration: none;
  background-color: @sky-blue;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
}
