// У меня не работают ссылки вообще никакие: ни кнопки, ни внутри навигации на другие страницы, ни на страницу интенсива. Что я наделала?)
.main-nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  position: relative;
}

.main-nav::after {
  content: "";
  display: block;
  position: absolute;
  width: 320px;
  height: 7px;
  left: 0;
  top: 217px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  box-shadow: none;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 100%;
}

.main-nav__link {
  display: block;
  width: 100%;
  color: @color-white;
  text-decoration: none;
  background-color: @color-main;
  font-weight: bold;
  font-size: @fs-heading-small;
  line-height: @lh-additional;
  padding-top: 10px;
  padding-bottom: 6px;
  box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &[href]:focus {
    background-color: @color-bg-button-hover;
  }

  &[href]:hover {
    background-color: @color-bg-button-hover;
  }

  &[href]:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @color-bg-button-active;
  }
}

@media (min-width: @tablet-width) {

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main-nav__list--left {
    order: -1;
  }

  .main-nav__list--right {
    order: 1;
  }

  .main-nav__list {
    padding-top: 16px;
    width: @tablet-width;
    margin: 0 auto;
  }

  .main-nav__list--left {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-left: 40px;
  }

  .main-nav__list--left .main-nav__item {
    margin-right: 75px;
  }

  .main-nav__list--left .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__list--right {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding-right: 20px;
    margin-left: auto;
  }

  .main-nav__list--right .main-nav__item:last-child {
    margin-left: 50px;
  }

  .main-nav__list--right .main-nav__item:first-child {
    margin-left: 0;
  }

  .main-nav__link {
    text-decoration: none;
    color: @color-black;
    background-color: @color-transparent;
    font-size: @fs-main;
    font-weight: bold;
    line-height: @lh-main;
    box-shadow: none;
    padding: 0;

    &[href]:focus {
      color: @color-main;
      background-color: @color-transparent;
    }

    &[href]:hover {
      color: @color-main;
      background-color: @color-transparent;
    }

    &[href]:active {
      color: @color-black;
      opacity: 0.3;
      background-color: @color-transparent;
    }

    &:not([href]):focus {
      color: @color-link-nav-active;
    }

    &:not([href]):hover {
      color: @color-link-nav-active-hover;
    }

    &:not([href]):active {
      color: @color-link-nav-active;
      opacity: 0.3;
    }
  }
  .main-nav::after {
    display: none;
  }

  .main-nav--closed {
    display: none;
  }

  .main-nav--opened {
    display: none;
  }
}

@media (min-width: @desktop-width) {

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main-nav__list--left {
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 83px;
  }

  .main-nav__list--left .main-nav__item {
    margin-right: 160px;
  }

  .main-nav__list--left .main-nav__item:last-child {
    margin-right: 0;
  }

  .main-nav__list--right {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    padding-right: 61px;
  }

  .main-nav__list--right .main-nav__item {
    margin-left: 0;
  }

  .main-nav__list--right .main-nav__item:last-child {
    margin-left: 140px;
  }

  .main-nav--closed {
    display: none;
  }

  .main-nav--opened {
    display: none;
  }
}
