
.main-nav {
  text-align: center;
}

.main-nav__list {
  list-style: none;
  padding: 0;
}



@media (min-width: @tablet-width) {
  .main-nav__list {
    padding-top: 10px;
    width: @tablet-width;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .main-nav__link {
    text-decoration: none;
    color: @color-black;
    font-weight: bold;
  }

  .main-nav__item--index {
    margin-right: 78px;
  }

  .main-nav__item--photo {
    margin-right: 210px;
  }

  .main-nav__item--form {
    margin-right: 51px;
  }

  .main-nav__item--academy {
    margin-right: 27px;
  }
}

@media (max-width: @tablet-width) {
  .main-nav__list {
    width: 320px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 320px;
  }

  .main-nav__link {
    display: block;
    width: 320px;

    color: @color-white;
    text-decoration: none;
    background-color: @color-bg-sky-blue;
    font-weight: bold;
    font-size: @fs-heading-small;
    line-height: @lh-additional;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

    &:focus {
      background-color: @color-bg-deep-sky-blue;
    }

    &:hover {
      background-color: @color-bg-deep-sky-blue;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: @color-bg-dark-sky-blue;
    }

    &:not([href]) {
      color: @color-white;
      background-color: @color-bg-sky-blue;
    }
  }

  .header__main-nav-toggle {
    margin-top: 17px;
    margin-right: 20px;
    top: 0;
    left: 0;
    display: block;
    width: 23px;
    height: 22px;
    background-color: @color-transparent;
    cursor: pointer;
    border: none;
    position: relative;
  }

  .header__main-nav-toggle::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: @color-bg-sky-blue;
    box-shadow:
      0 9px 0 0 @color-bg-sky-blue,
      0 18px 0 0 @color-bg-sky-blue;
  }

  .header__main-nav-toggle:hover::before {
    background-color: fade(@color-bg-sky-blue, 60%);
    box-shadow:
      0 9px 0 0 fade(@color-bg-sky-blue, 60%),
      0 18px 0 0 fade(@color-bg-sky-blue, 60%);
  }

  .header__main-nav-toggle:focus::before {
    background-color: fade(@color-bg-sky-blue, 60%);
    box-shadow:
      0 9px 0 0 fade(@color-bg-sky-blue, 60%),
      0 18px 0 0 fade(@color-bg-sky-blue, 60%);
  }

  .header__main-nav-toggle:active::before {
    background-color: fade(@color-bg-sky-blue, 30%);
    box-shadow:
      0 9px 0 0 fade(@color-bg-sky-blue, 30%),
      0 18px 0 0 fade(@color-bg-sky-blue, 30%);
  }

  .header__logo {
    position: relative;

  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    width: @desktop-width;
    margin: 0 auto;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .main-nav__link {
    text-decoration: none;
    color: @color-black;
    font-weight: bold;
  }

  .main-nav__item--index {
    margin-right: 162px;
  }

  .main-nav__item--photo {
    margin-right: 383px;
  }

  .main-nav__item--form {
    margin-right: 139px;
  }

  .main-nav__item--academy {
    margin-right: 73px;
  }
}
