@import (reference) url("./source/less/global/variables.less");

.photo-video__heading {
  font-size: @heading-small;
}

.photo__name {
  font-size: 14px;
  font-weight: bold;
}

.photo__creator {
  text-transform: none;
}

.photo__likes {
  font-weight: bold;
}

.gallery__item {
  text-align: left;
}
