
.photo-video__heading {
  font-size: @fs-heading-small;
}

.photo__name {
  font-size: @fs-main;
  font-weight: bold;
}

.photo__creator {
  text-transform: none;
}

.photo__likes {
  font-weight: bold;
}

.gallery__item {
  text-align: left;
}
