/* нууу почти)) я не стала стилизацию делать, вроде сами элементы такие же получились.
 такой код нормально будет себя вести, если что-то поменяется? его не сложно будет поддерживать? */

body {
  counter-reset: hyphen;
}

.advantages__number::before {
  counter-increment: hyphen;
  content: "\2013 \2004 №" counter(hyphen) "\2004 \2013";
}
