// Colors

@color-black: #000000;
@color-white: #FFFFFF;
@color-main: #81B3D2;
@color-bg-button-hover: #669EC0;
@color-bg-button-active: #5496BD;
@color-dark-radiobutton: #333333;
@color-bg-advantages-grey: #EEEEEE;
@color-bg-form-grey: #F2F2F2;
@color-disabled-grey: #E5E5E5;
@color-bg-icons-grey: #E6E6E6;
@color-bg-check-radio-active: #D5D5D5;
@color-dark-grey-border: #D6D6D6;
@color-controls-mobile: #5C6870;
@color-transparent: transparent;
@color-link-nav-active: #766357;
@color-link-nav-active-hover: #604E43;

// Font

@main-font: "PT Sans", "Arial", sans-serif;

// Font-sizes

@fs-main: 14px;
@lh-main: 26px;

@lh-additional: 40px;
@lh-small: 21px;
@lh-medium: 24px;

@fs-heading-small: 18px;
@fs-heading-medium: 21px;
@fs-heading-big: 30px;

// Viewports

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;

// Paddings

@padding-mobile: 20px;
@padding-tablet: 40px;
@padding-desktop: 100px;
