// Colors

@color-black: #000000;
@color-white: #FFFFFF;
@color-bg-sky-blue: #81B3D2;
@color-bg-deep-sky-blue: #669EC0;
@color-bg-dark-sky-blue: #5496BD;
@color-dark: #333333;
@color-ordinary-grey: #EEEEEE;
@color-light-grey: #E5E5E5;
@color-elements-grey: #F2F2F2;
@color-dark-grey: #D5D5D5;
@color-dark-grey-border: #D6D6D6;
@color-deep-grey: #5C6870;
@color-background-grey: #666666;
@color-transparent: transparent;

// Font

@main-font: "PT Sans", "Arial", sans-serif;

// Font-sizes

@fs-main: 14px;
@lh-main: 26px;

@lh-additional: 40px;
@lh-small: 21px;

@fs-heading-small: 18px;
@fs-heading-medium: 21px;
@fs-heading-big: 30px;

// Viewports

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
